{
  "parser": "@typescript-eslint/parser",
  "env": {
    "jest": true,
    "es6": true,
    "node": true
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module",
    "project": "tsconfig.json"
  },
  "rules": {
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/no-floating-promises": "error",
    "@typescript-eslint/ban-ts-comment": "off"
  },
  "overrides": [
    {
      "files": [ "**/*.js" ],
      "rules": {
        "@typescript-eslint/no-var-requires": "off"
      }
    }
  ]
}
